@import "application";

.card__container {
  display: grid;
  grid-gap: 2em;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 20px;
}

.card {
  height: 150px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 10px -2px rgba(0,0,0,0.2);
}

.card__icon {
  
}
.card__info {
  h2 {
    font-size: 20px;
  }
}

.card--small { }